body {
  background-image: url('https://e00-marca.uecdn.es/assets/multimedia/imagenes/2023/02/14/16763741485830.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; /* Centra verticalmente la imagen */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ajusta el contenido en la parte superior */
  align-items: center;
  position: relative; /* Agrega posición relativa para que el botón se posicione correctamente */
}

h1 {
  margin-top: 20vh; /* Ajusta el margen superior del título para colocarlo más arriba */
}

.home-button-container {
  position: absolute; /* Agrega posición absoluta para el contenedor del botón */
  bottom: 50%; /* Coloca el contenedor del botón en la mitad de la ventana */
  transform: translateY(50%); /* Alinea verticalmente el botón en la mitad de la ventana */
  text-align: center; /* Centra el contenido del contenedor */
  width: 100%; /* Establece el ancho al 100% para centrar horizontalmente el botón */
}

.home-button {
  background-color: #333; /* Cambia el color de fondo a gris oscuro */
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Agrega transición a transform */
}

.home-button:hover {
  background-color: #000; /* Cambia el color de fondo a negro al pasar el mouse */
  transform: scale(1.05); /* Efecto de "presionado" al pasar el mouse */
}